.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.pagination{
    list-style-type: none;
}

.pagination__item{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blue;
}

.pagination__link{
    display: inline-block;
    color: white;
    width: 20px;
    height: 20px;
    background-color: blue;
    text-align: center;
    line-height: 20px;
}

.footer{
    height: 150px;
    border: 1px solid red;
    margin-top: auto;
}

.block{
    width: 150px;
    height: 220px;
    border: 1px solid red;
    margin-left: 300px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}

.block::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 30px;
    border-top: 1px solid red;
    right: 3px;
    top: 9px;
    transform: rotate(45deg);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    clip-path: inset(-10px 1px 1px 1px);
}

.block::before{
    content: '';
    position: absolute;
    width: 41px;
    height: 40px;
    right: -14px;
    top: -13px;
    background-color: white;
    z-index: 0;
    box-shadow: 0 0 10px white;
}